.carousels-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    max-width: 100%;
    .carousel-wrapper {
        box-sizing: border-box;
        width: 48%;
        margin-bottom: 20px;
        .carousel-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;

        }
        .title-container {
            text-align: center;
            a {
                text-decoration: none;
                 :hover {
                    text-decoration: underline #cc0000;
                }
                h2 {
                    color: #999;
                    font-size: 1.15em;
                    font-weight: bold;
                }
            }
        }
        .carousel-image {
            display: flex;
            align-items: center;
            width: 100%;
            height : auto;
            max-height: 200px;
            object-fit: fill;
            margin-bottom: 20 px;
        }
    }
  
    @media only screen and (max-width: 1440px) {
        .carousel-wrapper {
            width: 100%;
        }
        .title-container{
            a{
                font-size: 1.5em

            }
        }
    }
}