<div class="carousels-container">
  <div class="carousel-wrapper">
    <p-carousel [value]="imageUrlsArchetypes" [numVisible]="3" [numScroll]="1" [circular]="true" [showIndicators]="false" [responsiveOptions]="responsiveOptions">
      <ng-template let-imageUrl pTemplate="item">
        <div class="carousel-item">
          <img [src]="imageUrl" class="carousel-image">
        </div>
      </ng-template>
    </p-carousel>  
    <div class="title-container">
      <a routerLink="/archetypes">
        <h2>Archetypes</h2>
      </a>
    </div>
  </div>

  <div class="carousel-wrapper">
    <p-carousel [value]="imageUrlsDeployments" [numVisible]="3" [numScroll]="1" [circular]="true" [showIndicators]="false" [responsiveOptions]="responsiveOptions">
      <ng-template let-imageUrl pTemplate="item">
        <div class="carousel-item">
          <img [src]="imageUrl" class="carousel-image">
        </div>
      </ng-template>
    </p-carousel>  
    <div class="title-container">
      <a routerLink="/deployments">
        <h2>Deployments</h2>
      </a>
    </div>

  </div>
  
  <div class="carousel-wrapper">
    <p-carousel [value]="imageUrlsTranscriptions" [numVisible]="3" [numScroll]="1" [circular]="true" [showIndicators]="false" [responsiveOptions]="responsiveOptions">
      <ng-template let-imageUrl pTemplate="item">
        <div class="carousel-item">
          <img [src]="imageUrl" class="carousel-image">
        </div>
      </ng-template>
    </p-carousel>  
    <div class="title-container">
      <a routerLink="/transcriptions">
        <h2>Transcriptions</h2>
      </a>
    </div>
  </div>
  
    <div class="carousel-wrapper">
      <p-carousel [value]="imageUrlsDrawings" [numVisible]="3" [numScroll]="1" [circular]="true" [showIndicators]="false" [responsiveOptions]="responsiveOptions">
        <ng-template let-imageUrl pTemplate="item">
          <div class="carousel-item">
            <img [src]="imageUrl" class="carousel-image">
          </div>
        </ng-template>
      </p-carousel>  
      <div class="title-container">
        <a routerLink="/drawings">
          <h2>Drawings</h2>
        </a>
      </div>
    </div>