<div class='Documentations'>
<a routerLink='/archetypes'>
<h2>Archetypes</h2>
</a>
  <carousel [itemsPerSlide]="4" [singleSlideOffset]="true" [interval]="0" [showIndicators]="false" class="custom-carousel">
    <slide *ngFor="let url of imageUrlsArchetypes; let i = index" class="carousel-item" >
      <img [src]="url" class="carousel-image">
    </slide>
  </carousel>
</div>

<div class='Documentations'>
<a routerLink='/Deployments'>
<h2>Deployments</h2>
</a>
  <carousel [itemsPerSlide]="4" [singleSlideOffset]="true" [interval]="0" [showIndicators]="false" class="custom-carousel">
    <slide *ngFor="let url of imageUrlsDeployments; let i = index" class="carousel-item" >
      <img [src]="url" class="carousel-image">
    </slide>
  </carousel>
</div>

<!-- <div class='Documentations'>
<a routerLink='/Drawings'>
<h2>Drawings</h2>
</a>
  <carousel [itemsPerSlide]="4" [singleSlideOffset]="true" [showIndicators]="false" class="custom-carousel">
    <slide *ngFor="let url of imageUrlsDrawings; let i = index" class="carousel-item" >
      <img [src]="url" class="carousel-image">
    </slide>
  </carousel>
</div>

<div class='Documentations'>
<a routerLink='/Transcriptions'>
<h2>Transcriptions</h2>
</a>
  <carousel [itemsPerSlide]="4" [singleSlideOffset]="true" [showIndicators]="false" class="custom-carousel">
    <slide *ngFor="let url of imageUrlsTranscriptions; let i = index" class="carousel-item" >
      <img [src]="url" class="carousel-image">
    </slide>
  </carousel>
</div> -->
