<footer class="footer">
    <div class="container">
      <p class="footer-text">
        &copy; Patrick Laumond • Tous droits réservés - patrick@laumond.com - Paris.
      </p>
      <p class="footer-text">Photos: &copy;Philippe Tapissier &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; Développement: Paul Convert</p>
      <a href="https://www.facebook.com/metahisme/?locale=fr_FR" target="_blank" rel="noopener noreferrer" class="social-link">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href=" https://www.instagram.com/metahisme/" target="_blank" rel="noopener noreferrer" class="social-link">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://laumond.tumblr.com/" target="_blank" rel="noopener noreferrer" class="social-link">
        <i class="fab fa-tumblr"></i>
      </a>
          </div>
  </footer>