.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;

  .navbar-logo {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-right: 20px;
      font-size: 24px;
      transition: color 0.2s ease-in-out;

      a {
        display: block;
        color: #000;
        text-decoration: none;
      }

      &:hover a {
        color: #8B0000;
      }
    }

      &.active .burger-dropdown {
      display: block;
    }

    &.active .burger-icon {
      transform: rotate(90deg);
    }
    }
  }

  .navbar-burger {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;

    .burger-icon {
      font-size: 24px;
      color: #000;
      cursor: pointer;
    }

    .burger-dropdown {
      animation: dropdown-animation .5s ease-in-out;
      display: none;
      padding: 20px;
      position: absolute;
      right: 40px;
      top: -20px;

      .burger-menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-right: 20px;
          font-size: 24px;
          transition: color 0.2s ease-in-out;
    
          a {
            display: block;
            color: #000;
            text-decoration: none;
          }
    
          &:hover a {
            color: #8B0000;
          }
        }
    
          &.active .burger-dropdown {
          display: block;
        }
    
        &.active .burger-icon {
          transform: rotate(90deg);
        }
      }
    }
    
  }


  @media only screen and (min-width: 768px) {
    .navbar-list {
      display: flex;
    }

    .navbar-burger {
      display: none;
    }

    .navbar-dropdown {
      display: none;
    }
  }
  @media only screen and (max-width: 767px){
    .navbar-list{
      display: block;
    }

    .navbar-burger{
      display: flex;
    }

    .burger-dropdown{
      display: block;
    }
  }
    
  

  @keyframes dropdown-animation {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

