
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link{
  border-radius: 0px;   
  box-shadow: inset 0 0 0 0.2rem #e6686800;
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text{
color: #8B0000;

}
*{

color: #525252;
text-decoration: none;
}


:host ::ng-deep .p-menubar {

display: flex;
margin-bottom: 3%;
padding-left: 1.5%;
align-items: right;
background-color: #ffffff;
border: none;
.p-menubar-root-list {
  li {
    margin-right: 20px;
    font-size: 24px;
    transition: color 0.2s ease-in-out;
    a {
      color: #525252;
      text-decoration: none;
      &:hover {
        color: #8B0000;
      }
    }
  }
}
}

// aggrandi la taille de la class Laumond 
a{
padding-right: 20px;
font-size: 24px;
}

p-menubar {
position: static;
width: 100%;
z-index: 1;
top: 0;

  li {
      display: flex;
      flex-direction: row;
      margin-right: 20px;
      font-size: 24px;
      transition: color 0.2s ease-in-out;

      a {
          display: block;
          color: #000;
          text-decoration: none;
      }

      &:hover a {
          color: #8B0000;
      }
  };
  img{
      width: 40px;
      height: 25px;
    }
  
}



:host ::ng-deep .your-class-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  box-shadow: none;
  background-color: #ffffff;
  border: none;
  color: #525252;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.2s ease-in-out, opacity 0.5s ease-in-out;
  
  &:hover,
  &:active,
  &:target,
  &:focus {
    background-color: #cc000000 !important; // Votre couleur rouge
    outline: none;
    box-shadow: none !important;
    color: #8B0000;
  }

  &.show {
    opacity: 1;
  }
}

.flags{
  background-color: transparent;
  border: none;
}