<p-menubar [model]="items" *ngIf="!isMobile">
    <ng-template pTemplate="end">
        <a class="Laumond" routerLink="">
            Patrick Laumond
        </a>
    </ng-template>
</p-menubar>

<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000" [style]="{width: '200px'}" *ngIf="isMobile">
    <ul>
        <li *ngFor="let item of items">
            <a [routerLink]="item.routerLink">{{item.label}}</a>
        </li>
    </ul>

      <a class="Laumond" routerLink="">
          Patrick Laumond
      </a>

</p-sidebar>

<button pButton type="button" (click)="visibleSidebar = true" *ngIf="isMobile" class="pi pi-bars">
  
</button>
