<nav class="navbar">
  <a class="navbar-logo" routerLink="">Patrick Laumond</a>
  <ul class="navbar-list">
    <li><a routerLink="/metahisme">MétaHisme</a></li>
    <li><a routerLink="/oeuvre">Œuvre</a></li>
    <li><a routerLink="/news">Actualité</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/biographie">Biographie</a></li>
  </ul>

  <div class="navbar-burger" (click)="toggleBurgerMenu()" [ngClass]="{ 'active': active }">
    <fa-icon [icon]="faBars" class="burger-icon"></fa-icon>
    <div class="burger-dropdown" [ngClass]="{ 'active': showDropdown }">
      <ul class="burger-menu">
        <li><a routerLink="/metahisme">MétaHisme</a></li>
        <li><a routerLink="/oeuvre">Œuvre</a></li>
        <li><a routerLink="/news">Actualité</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/biographie">Biographie</a></li>
      </ul>
    </div>
  </div>
</nav>
