.text-container {
  width: 90%; /* largeur de la zone de texte */
  margin: auto; /* centrage horizontal */
  font-size: 1.2em; /* taille de police */
  line-height: 1.5em; /* hauteur de ligne */
  text-align: justify; /* alignement justifié */
  padding: 0px; /* espacement intérieur */

  p{
    margin: 1.2em 0;
    padding: 0;
  }

  #ps{
    color: #999999;
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
    
  }
  #citation{
    width: 90%;
    justify-content: center;
    font-style: italic;
    margin: 1em;
    padding-left: 2%;
    
    #Edith{
      font-style: normal;
      font-weight: bold;
    }
  }
}
