<div class='Archetypes'>
<a routerLink='/archetypes'>
<h2>Archetypes</h2>
</a>
<carousel [images]='imagesArchetypes' [cellWidth]='75' [cellsToShow]='4'>
</carousel>
</div>
<div class='Archetypes'>
<a routerLink='/archetypes'>
<h2>Archetypes</h2>
</a>
<carousel [images]='imagesArchetypes' [cellWidth]='75' [cellsToShow]='4'>
</carousel>
</div>
<div class='Archetypes'>
<a routerLink='/archetypes'>
<h2>Archetypes</h2>
</a>
<carousel [images]='imagesArchetypes' [cellWidth]='100' [cellsToShow]='4'>
</carousel>
</div>
<div class='Archetypes'>
<a routerLink='/archetypes'>
<h2>Archetypes</h2>
</a>
<carousel [images]='imagesArchetypes' [cellWidth]='100' [cellsToShow]='4'>
</carousel>
</div>
