.vr360{
  display: flex;
  flex-direction: column;
}

.iframe-container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.video {
  position: absolute;
  bottom: -150px; // Ajuste cette valeur jusqu'à ce que la barre soit hors de vue
  left: 0;
  width: 100%;
  height: calc(100% + 150px); // Assure-toi que cela correspond à la valeur négative ci-dessus
}

.titre {
  margin-top: 30px;
}
:hover {
  color:  #cc0000;
}
a {
  color: #525252;
  text-decoration: none;
   :hover {
      text-decoration: underline #cc0000;
  }
  h2 {
      margin-left: 3%;
      color: #525252;
      font-size: 1.2em;
      font-weight: bold;
  }
}
