.Biographie {
  display: flex;
  flex-direction: row;

  .nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 25px;
    a {
      color: #000;
      font-weight: bold;
      transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
      padding: 20px;

      &:hover {
        color: #cc0000;
        transform: translateY(-5px);
      }
    }
    .nav-menu a:hover {
      transform: translateY(-5px);
    }
  }

  .text-container {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 20px;
    width: 80%;
    margin: auto 300px auto auto;
    text-align: justify;


    h3 {
      margin: 20px 0;
      font-size: 1.5em;
      transition: transform 0.5s ease-in-out;
      font-weight: bold;
      padding-top: 40px;
    }
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;

    .nav-menu {
      position: static;
      display: none;
      margin-bottom: 20px;
    }

    .text-container {
      margin-right: 0;
      width: 100%;
      text-align: left;
    }
  }
}