<div class="image-container">
  <div class="image-wrapper">
    <img src="https://plaumondpicture.s3.eu-west-3.amazonaws.com/Archetypes+copie/02/01.jpg" alt="Slide 1" class="image">
    <div class="image-title">Slide 1</div>
  </div>
  <div class="image-wrapper">
    <img src="https://plaumondpicture.s3.eu-west-3.amazonaws.com/Archetypes+copie/02/02.jpg" alt="Slide 2" class="image">
    <div class="image-title">Slide 2</div>
  </div>
  <div class="image-wrapper">
    <img src="https://plaumondpicture.s3.eu-west-3.amazonaws.com/Archetypes+copie/02/03.jpg" alt="Slide 3" class="image">
    <div class="image-title">Slide 3</div>
  </div>
  <div class="image-wrapper">
    <img src="https://plaumondpicture.s3.eu-west-3.amazonaws.com/Archetypes+copie/02/04.jpg" alt="Slide 4" class="image">
    <div class="image-title">Slide 4</div>
  </div>
  <div class="image-wrapper">
    <img src="https://plaumondpicture.s3.eu-west-3.amazonaws.com/Archetypes+copie/02/05.jpg" alt="Slide 5" class="image">
    <div class="image-title">Slide 5</div>
  </div>
  <div class="image-wrapper">
    <img src="https://plaumondpicture.s3.eu-west-3.amazonaws.com/Archetypes+copie/02/06.jpg" alt="Slide 6" class="image">
    <div class="image-title">Slide 6</div>
  </div>
  <div class="image-wrapper">
    <img src="https://plaumondpicture.s3.eu-west-3.amazonaws.com/Archetypes+copie/02/07.jpg" alt="Slide 7" class="image">
    <div class="image-title">Slide 7</div>
  </div>
  <div class="image-wrapper">
    <img src="https://plaumondpicture.s3.eu-west-3.amazonaws.com/Archetypes+copie/02/08.jpg" alt="Slide 8" class="image">
    <div class="image-title">Slide 8</div>
  </div>
  <div class="image-wrapper">
    <img src="https://plaumondpicture.s3.eu-west-3.amazonaws.com/Archetypes+copie/02/09.jpg" alt="Slide 9" class="image">
    <div class="image-title">Slide 9</div>
  </div>
  <div class="image-wrapper">
    <img src="https://plaumondpicture.s3.eu-west-3.amazonaws.com/Archetypes+copie/02/10.jpg" alt="Slide 10" class="image">
    <div class="image-title">Slide 10</div>
  </div>
</div>
